@font-face {
	font-family: 'Impact';
	src: url('../fonts/impact.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/impact.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/impact.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/impact.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/impact.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/impact.svg#impact') format('svg'); /* Chrome < 4, Legacy iOS */
}