@font-face {
    font-family: 'Myriad Pro';
    src: url('./Fonts/MyriadPro-Bold.eot');
    src: url('./Fonts/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('./Fonts/MyriadPro-Bold.woff2') format('woff2'),
        url('./Fonts/MyriadPro-Bold.woff') format('woff'),
        url('./Fonts/MyriadPro-Bold.ttf') format('truetype'),
        url('./Fonts/MyriadPro-Bold.svg#MyriadPro-Bold') format('svg');
    font-weight: bold;
}
@font-face {
    font-family: 'Verdana';
    src: url('./Fonts/Verdana-Bold.eot');
    src: url('./Fonts/Verdana-Bold.eot?#iefix') format('embedded-opentype'),
        url('./Fonts/Verdana-Bold.woff2') format('woff2'),
        url('./Fonts/Verdana-Bold.woff') format('woff'),
        url('./Fonts/Verdana-Bold.ttf') format('truetype'),
        url('./Fonts/Verdana-Bold.svg#Verdana-Bold') format('svg');
    font-weight: bold;
}
html{
    font-family: 'Verdana';
}
.wrapper{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
body{
    background: url(./Photos/background.png);
}
header{
    margin-top: 50px;
    color: #f26522;
    font-size: 18px;
}
.logo-image{
    float: left;
}
.logo{
    padding-bottom: 45px;
    padding-left: 15px;
    float: left;
}
h2{
    font-size: 29px;
}
h3{
    float: left;
}
.contact-info{
    font-weight: 300;
    float: right;
    color: #fff;
}

/* Main content */
.photo-text3::after{
    content: ">";
}
.photo-text1{
    font-size: 10px;
    padding-left: 20px;
    padding-top: 20px;
    display: block;
    width: 140px;
}
.photo-text2{
    padding-left: 20px;
    display: block;
    float: left;
    width: 140px;
}
.photo-text3{
    display: block;
}
.photo-info{
    z-index: -1;
    background-color: #f26522;
    color: white;
    position: relative;
    right: -46px;
    top: -93px;
    width: 308px;
    height: 60px;
}
.photos{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid #fff;
    border-top: 2px solid #000;
    border-right: linear-gradient(#fff , #000);
    border-left: linear-gradient(#fff , #000);
}
.photos-block{
    float: right;
    width: 33.33%;
    clear: left;
}
.photo-text{
    padding-top: 15px;
    color: #fff;
    text-align: center;
}
.photos:hover{
    transition: 2000ms;
  clip-path: polygon(0 0, 100% 0, 100% 76%, 0 76%);

}
/* footer */
.foot{
    padding-top: 60px;
    padding-bottom: 30px;
    text-align: center;
    clear: both;
    color: #fff;
}